@media (max-width: 1200px) {
  .form__input,
  .form__select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    border: 1px solid currentColor;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    color: var(--main-color);
  }

  .burger__line {
    position: absolute;
    height: 2px;
    width: 20px;
    left: 50%;
    border-radius: inherit;
    transform: translateX(-50%);
    background-color: currentColor;
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .header__btn {
    padding: 11px 21px;
    margin-right: 7px;
  }

  .hero__content {
    max-width: 75%;
  }

  .services__list {
    --offsets: 1;
  }

  .clients__list {
    --offsets: 1;
  }

  .footer__container {
    flex-direction: column;
    gap: var(--gap);
  }
}

@media (max-width: 768px) {
  /* .articles__list {
    --offsets: 0;
  } */

  .blog-preview__link {
    flex-direction: column;
  }

  .blog-preview__image {
    border-radius: 5px;
  }

  .form {
    padding: 0;
  }

  .footer__right {
    flex-direction: column;
    gap: var(--gap);
  }

  .footer__nav {
    margin-right: 0;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 576px) {
  :root {
    --gap: 18px;
  }

  .clients__list {
    --offsets: 0;
  }

  .contacts__list {
    --offsets: 0;
  }

  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 80px;
  }

  .hero {
    padding-top: 31px;
    padding-bottom: 0;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 16px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: 100%;
    margin-bottom: 14px;
    padding: 20px 35px;
  }

  .section-offset {
    padding: 60px 0;
  }

  .section-title {
    text-align: left;
    margin-bottom: 16px;
  }

  .section-descr {
    margin-bottom: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    text-align: left;
  }

  .services__item {
    padding: 14px 15px;
    min-height: 222px;
  }

  .services__item-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 15px;
  }

  .services__item:nth-child(2) .services__item-icon {
    width: 52px;
  }

  .services__item-title {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .services__item-descr {
    font-size: 12px;
  }

  .articles__title {
    margin-bottom: 14px;
  }

  .articles__list {
    --offsets: 0;
    gap: 15px;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview__link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview__image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview__text {
    padding: 15px 14px;
  }

  .blog-preview__time {
    margin-bottom: 4px;
  }

  .blog-preview__title {
    margin-bottom: 0;
  }

  .clients__list {
    gap: 12px;
  }

  .clients__item {
    padding: 19px 19px;
  }

  .clients__avatar {
    width: 69px;
    margin-right: 14px;
  }

  .clients__name {
    margin-bottom: 0;
  }

  .contacts__list {
    gap: 29px;
  }

  .contacts__title {
    margin-bottom: 13px;
  }

  .contacts__item {
    padding-top: 40px;
  }

  .contacts__item-caption {
    margin-bottom: 10px;
  }

.form {
  width: 100%;
}

  .form__top {
    flex-direction: column;
    margin-bottom: 14px;
  }

  .form__left {
    width: 100%;
    padding-bottom: 15px;
  }

  .form__right {
    width: 100%;
  }

  .form__input, .form__select, .form__textarea {
    padding: 15px 19px 16px;
  }

  .form__textarea {
    min-height: 240px;
  }

  .form__bottom {
    justify-content: center;
  }

  .form__wrapper {
    width: 100%;
  }

  .form__btn {
    min-width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 17px;
  }

  .footer {
    padding: 0;
    padding-top: 30px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }


  .footer__nav {
    margin-right: 0;
  }

  .footer__nav .nav__link {
    font-size: 15px;
    line-height: normal;
  }

  .footer__nav .nav__list {
    flex-wrap: wrap;
    gap: 15px 32px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .footer__right {
    gap: 27px;
    align-items: flex-start;
    margin-bottom: 9px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }

  .footer__left {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 26px;
    width: 100%;
  }

  .footer__logo img {
    width: 80px;
  }

  .footer__copy {
    padding: 17px 0;
    width: 100%;
    position: relative;
    text-align: center;
  }

  .footer__copy::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #c4c4c4;
  } 
}