:root {
  --main-color: #3172b9;
  --main-color-hover: #71a7e2;
  --main-color-active: #0e3b6c;
  --check-blue: #3474ba;
  --black: #1c1c1c;
  --text-light: #787878;
  --white-true: #ffffff;
  --border-color: #e4e4e4;
  --border-color-2: #dadada;
  --header-border: #c4c4c4;
  --form-input-color: rgba(113, 167, 226, 0.2);
  --gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: var(--black);
}

/* GLOBAL */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: var(--main-color);
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: inherit;
  border: 1px solid var(--main-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus-visible::after {
  opacity: 1;
}

.btn:hover {
  background-color: var(--main-color-hover);
}

.btn:active {
  background-color: var(--main-color-active);
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  color: var(--black);
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  color: var(--text-light);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* HEADER */
.header {
  padding: 36px 0;
  border-bottom: 1px solid var(--header-border);
  background-color: white;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: outline-color 0.3s ease-in-out;
}

.header__logo:focus-visible {
  outline-color: var(--main-color-hover);
}

.header__nav {
  margin-right: 52px;
}

.header .nav__link {
  position: relative;
  font-weight: 600;
  color: var(--black);
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.header .nav__link:focus-visible {
  outline: 1px solid var(--main-color-hover);
  outline-offset: 5px;
}

.header .nav__link:hover {
  color: var(--main-color-hover);
}

.header .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header .nav__link:active::after {
  opacity: 1;
}

.header .nav__link:active {
  color: #3474ba;
}

.header .nav__item:not(:last-child) {
  margin-right: 52px;
}

.burger {
  display: none;
}

/* HERO */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  color: var(--black);
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  color: var(--text-light);
  font-size: 16px;
  line-height: 155%;
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  padding: 15px 35px;
  min-width: 250px;
}

.hero__secure {
  color: var(--text-light);
  font-size: 11px;
  font-weight: 400;
  line-height: 155%;
  text-transform: uppercase;
  background-image: url("../img/hero/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* SERVICES */
.services {
  border-bottom: 1px solid var(--border-color-2);
}

.services__title {
  text-align: center;
}

.services__descr {
  text-align: center;
}

.services__list {
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.services__item-icon {
  margin-bottom: 25px;
}

.services__item-icon path {
  fill: var(--main-color);
  transition: fill 0.3s ease-in-out;
}

.services__item:hover {
  border: none;
  background-color: var(--main-color);
}

.services__item:hover .services__item-title,
.services__item:hover .services__item-descr {
  color: white;
}

.services__item:hover .services__item-icon path {
  fill: white;
}

.services__item-title {
  margin: 0;
  margin-bottom: 15px;
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  transition: color 0.3s ease-in-out;
}

.services__item-descr {
  margin: 0;
  text-align: center;
  color: var(--text-light);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  transition: color 0.3s ease-in-out;
}

/* ARTICLES */
.articles {
  border-bottom: 1px solid var(--border-color-2);
}
.articles__list {
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.blog-preview {
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 100%;
}

.articles__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.blog-preview__image {
  object-fit: cover;
}

.blog-preview__text {
  padding: 30px;
}

.blog-preview__time {
  display: block;
  margin-bottom: 5px;
  color: var(--text-light);
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.blog-preview__title {
  margin: 0;
  margin-bottom: 15px;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.blog-preview__descr {
  margin: 0;
  max-width: 210px;
  color: var(--text-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.blog-preview__link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview__link:focus-visible {
  background-color: var(--main-color-hover);
}

.blog-preview__link:focus-visible .blog-preview__time,
.blog-preview__link:focus-visible .blog-preview__title,
.blog-preview__link:focus-visible .blog-preview__descr {
  color: white;
}

.blog-preview__link:hover {
  background-color: var(--main-color);
}

.blog-preview__link:hover .blog-preview__time,
.blog-preview__link:hover .blog-preview__title,
.blog-preview__link:hover .blog-preview__descr {
  color: white;
}

.blog-preview__link:active {
  background-color: var(--main-color-active);
}

.blog-preview__link:active .blog-preview__time,
.blog-preview__link:active .blog-preview__title,
.blog-preview__link:active .blog-preview__descr {
  color: white;
}

/* CLIENTS */
.clients {
  border-bottom: 1px solid var(--border-color-2);
}

.clients__list {
  --offsets: 2;
  gap: var(--gap);
}

.clients__item {
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.clients__item-descr {
  margin: 0;
  margin-bottom: 30px;
  color: var(--text-light);
  font-size: 14px;
  line-height: 180%;
}

.clients__user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid var(--border-color-2);
  width: 100%;
  padding-top: 28px;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  border-radius: 50px;
}

.clients__name {
  margin-bottom: 5px;
  color: var(--black);
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
}

.clients__post {
  color: var(--text-light);
  font-size: 14px;
  line-height: 180%;
}

/* CONTACTS */
.contacts {
  border-bottom: 1px solid var(--border-color-2);
}

.contacts-list {
  --offsets: 2;
  gap: var(--gap);
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item-address {
  background-image: url("../img/contacts/location.svg");
}

.contacts-item-phone {
  background-image: url("../img/contacts/phone-number.svg");
}

.contacts-item-mail {
  background-image: url("../img/contacts/email.svg");
}

.contacts-item-caption {
  margin-bottom: 30px;
  color: var(--black);
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
}

.contacts-item-text,
.contacts-item-link {
  color: var(--text-light);
  font-size: 14px;
  line-height: 180%;
}

.contacts-item-text {
  margin: 0;
}

.contacts-item-link {
  outline: 1px solid transparent;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus-visible {
  outline-color: var(--main-color-hover);
}

.contacts-item-link:hover {
  color: var(--main-color-hover);
}

.contacts-item-link:active {
  color: var(--main-color-active);
}

/* JOIN US */
.join-us {
  border-bottom: 1px solid var(--border-color-2);
}

.join-us__title {
  text-align: center;
}

.join-us__descr {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form__top {
  margin-bottom: 19px;
  justify-content: space-between;
}

.form__left,
.form__right {
  width: 49%;
}

.form__left {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}

.form__input,
.form__select,
.form__textarea {
  width: 251px;
  height: 60px;
  padding: 15px 28px 16px;
  color: var(--text-light);
  font-size: 16px;
  line-height: 180%;
  border-radius: 50px;
  border: 1px solid var(--border-color-2);
  opacity: 0.6;
  outline: none;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}



.form__input:focus-visible,
.form__select:focus-visible,
.form__textarea:focus-visible {
  border-color: var(--main-color-hover);
}

.form__input:hover,
.form__select:hover,
.form__textarea:hover {
  background-color: rgba(113, 167, 226, 0.2);
  border-color: var(--main-color-hover);
}

.form__input:active,
.form__select:active,
.form__textarea:active {
  color: black;
  border-color: var(--main-color-active);
}

.form__textarea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  resize: none;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin-bottom: 9px;
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.form__check {
  color: var(--text-light);
  text-align: center;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.form__check input {
  margin-right: 5px;
}

.form__check a {
  color: var(--main-color);
  text-decoration-line: underline;
}

.checkbox {
  appearance: none;
}

.checkbox-text {
  margin: 0;
  padding-left: 22px;
  position: relative;
}

.checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  transform: translateY(-50%);
}

.checkbox-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.checkbox:checked + .checkbox-text::after {
  opacity: 1;
}

.checkbox:focus-visible + .checkbox-text {
  outline: 1px solid var(--main-color-hover);
  outline-offset: 2px;
}

.checkbox-text a {
  transition: color 0.3s ease-in-out;
  outline: none;
}

.checkbox-text a:focus-visible {
  color: var(--main-color-hover);
  outline: none;
}

.checkbox-text a:hover {
  color: var(--main-color-hover);
}

.checkbox-text a:active {
  color: var(--check-blue);
}

/* FOOTER */
.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: outline-color 0.3s ease-in-out;
}

.footer__logo:focus-visible {
  outline-color: var(--main-color-hover);
}

.footer__copy {
  color: var(--text-light);
  font-size: 12px;
  line-height: normal;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav .nav__link {
  position: relative;
  color: var(--text-light);
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}

.footer__nav .nav__link:focus-visible {
  outline: 1px solid var(--main-color-hover);
  outline-offset: 5px;
}

.footer__nav .nav__link:hover {
  color: var(--main-color-hover);
}

.footer__nav .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer__nav .nav__link:active::after {
  opacity: 1;
}

.footer__nav .nav__link:active {
  color: #3474ba;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.social__link svg {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.social__link-email svg {
  fill: none;
  stroke: black;
  transition: stroke 0.3s ease-in-out;
}

.social__link:focus-visible {
  outline-offset: 2px;
  outline: 1px solid var(--main-color-hover);
}

.social__link:hover svg {
  fill: var(--main-color-hover);
}

.social__link-email:hover svg {
  fill: none;
  stroke: var(--main-color-hover);
}

.social__link:active svg {
  fill: var(--main-color);
}

.social__link-email:active svg {
  fill: none;
  stroke: var(--main-color);
}
